<% for (var filename in files) { %>
	<div class="content-container">
		<div class="blog-preview-container">
			<%- files[filename].contents %>
		</div>
		<%= files[filename].date %>
	</div>
	<%- br(3) %>
<% } %>
