<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="background">
  	<!-- Begin navbar -->
  	<% include partials/template/header.ejs %>
  	<!-- End navbar -->

  	<!-- Begin content -->
  	<div class="container">
      <%- br(5) %>
      <div class="content-container">
        <h1 style="position:relative;text-align:center">Blog</h1>
      </div>
      <%- br(5) %>
  		<% include partials/content/getblogcontent.ejs %>

  	</div><!-- End content -->
  	<% include partials/template/footer.ejs %>
  	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
