<footer>
    <div id="nav">
        <nav>
            <ul>
                <!--Make width of navGap dynamic-->
                <li class="navButton" id="teamsButton"><a href="/teams/">About Us</a></li>
                <li class="navButton" id="sponsorsButton"><a href="/sponsors/">Sponsors</a></li>
                <li class="navButton" id="contactButton"><a href="/contact/">Contact</a></li>
                <li class="navButton" id="FAQs"><a href="/FAQs/">FAQ</a> </li>
                <li id="navGap"></li>
            </ul>
        </nav>

        <ul class="social small">
            <li class="twitter">
                <a href="https://twitter.com/">
                    Twitter
                </a>
            </li>
            <li class="facebook">
                <a href="https://www.facebook.com/" target="_facebook">
                    Facebook
                </a>
            </li>
            <li class="youtube">
                <a href="https://www.youtube.com/" target="_youtube">
                    YouTube
                </a>
            </li>
        </ul>
        <br class="clearLeft" />
    </div>
</footer>