<header>
	<div id="nav">
		<ul>
			<li class="home" id="homeButton"><a href="/">HOME</a></li>
			<li id="navGap"></li> <!--Make width of navGap dynamic-->
			<li class="navButton" id="blogButton"><a href="/blog/">BLOG</a></li>
			<li class="navButton" id="teamsButton"><a href="/teams/">TEAMS</a></li>
			<li class="navButton" id="sponsorsButton"><a href="/sponsors/">SPONSORS</a></li>
			<li class="navButton" id="calendarButton"><a href="/calendar/">CALENDAR</a></li>
			<li class="navButton" id="contactButton"><a href="/contact/">CONTACT</a></li>
		</ul>
		<br class="clearLeft" />
	</div>
</header>