<header>
	<div id="nav">
		<ul>
			<li class="home" id="homeButton"><a href="/">CoachAChild</a></li>
			<li id="navGap"></li> <!--Make width of navGap dynamic-->
			<li class="navButton" id="teamsButton"><a href="/teams/">About Us</a></li>
			<li class="navButton" id="sponsorsButton"><a href="/sponsors/">Find Your Journey</a></li>
			<li class="navButton" id="blogButton"><a href="/blog/">Blog</a></li>
			<li class="navButton" id="contactButton"><a href="/contact/">Contact</a></li>
			<li class="navButton" id="signinButton"><a href="/users/">Sign In</a> </li>
		</ul>
		<br class="clearLeft" />
	</div>
</header>