<header>
	<div id="nav">
		<ul>
			<li class="home"><a href="/">HOME</a></li>
			<li id="navGap"></li> <!--Make width of navGap dynamic-->
			<li class="navButton"><a href="/blog/">BLOG</a></li>
			<li class="navButton"><a href="/teams/">TEAMS</a></li>
			<li class="navButton"><a href="/sponsors/">SPONSORS</a></li>
			<li class="navButton"><a href="/calendar/">CALENDAR</a></li>
			<li class="navButton"><a href="/contact/">CONTACT</a></li>
		</ul>
		<br class="clearLeft" />
	</div>
</header>