<div class="preview-title">First Hackathon</div>
<div class="preview-text">Our first hackathon happened!</div>

<p>Our first hackathon happened!</p>
<p>It was awesome and we got a lot accomplished!</p>