<div class="preview-title">Hello Blog!</div>
<div class="preview-text">It's a brave new world out there...</div>

<p>It's a brave new world out there...</p>
<p>And I shall confront it with outstretched arms. Hello world!!</p>