.homepage #background { /* Homepage's background */
	background: url("../images/backgrounds/background.jpg") repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-position: 0px 0px;
}

#background { /* Background for all other pages */
	background-color: #808080;
}

.container {
	color: #008800; /* Text color */
	font-size: 36px; /* Text size */
	font-family: Century Gothic, Arial, Courier New, sans-serif; /* Text's font */
}

.homepage .content-container { /* Content containers for the homepage */
	background-color: white;
	opacity: 0.75;
	padding: 2.5%;
	border: 1px solid #b0b0b0;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.content-container { /* Content containers for all other pages */
	background-color: #f0f0f0;
	opacity: 1.0;
	padding: 2.5%;
	border: 1px solid gray;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.team-member {
	margin: 0px;
}

.role {
	font-size: 24px;
	margin: 6px;
}

/* Begin nav-bar CSS */

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#nav {
	padding: 20px;
	background: white;
	vertical-align: middle;
	z-index: 9999;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	float: left;
	padding: 3px 8px;
	background-color: white;
	margin: 0 0 0 0;
	list-style-type: none;
	font: sans-serif;
}

#nav li a {
	color: gray;
	text-decoration: none;
}

#nav li a:hover {
	text-decoration: underline;
}

.home {
	font-size: 32px;
}

.navButton {
	font-size: 16px;
}

#navGap {
	
}

br.clearRight {
	clear: right;
}

br.clearLeft {
	clear: left;
}

/* End nav-bar CSS */

/* Begin grid CSS (used on team page) */

.grid {
	padding: 0px 0px 0px 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	opacity: 0.95;
}

.grid ul {
	padding-left: 0px;
}

.grid li {
	display: inline-block;
	width: 300px;
	margin: 0;
	padding: 1px 1px 1px 1px;
	text-align: left;
	position: relative;
}

.grid img {
	max-width: 100%;
	display: block;
	position: relative;
}