<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="background">
  	<!-- Begin navbar -->
  	<% include partials/template/header.ejs %>
  	<!-- End navbar -->

  	<!-- Begin content -->
  	<div class="container">
  		<%- br(5) %>
      <div class="content-container" style="opacity:0.9;position:relative;text-align:center;">
        <iframe src="https://www.google.com/calendar/embed?src=9v9accn94t5kifrbpkkj89i6ug%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>

  	</div><!-- End content -->
  	<% include partials/template/footer.ejs %>
  	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
