<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="background">
  	<!-- Begin navbar -->
  	<% include partials/template/header.ejs %>
  	<!-- End navbar -->

  	<!-- Begin content -->
  	<div class="container">
  		<%- br(10) %>
			<div class="content-container">
				<p>Contact Us at <a href="mailto:reese6@illinois.edu">reese6@illinois.edu</a></p>
        <p>TODO: Include all staff</p>
			</div>

			<%- br(10) %>
			<% include partials/content/loremipsum.ejs %>
			<%- br(10) %>
			<% include partials/content/loremipsum.ejs %>

  	</div><!-- End content -->
  	<% include partials/template/footer.ejs %>
  	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
