<div class="content-container">
    <h1 style="position:relative;text-align:center">Teams</h1>
</div>

<%- br(3) %>

<div class="content-container grid">
    <ul>
        <% for (var file in files) { %>
            <li>
                <a href="<%= files[file].teamid %>">
                    <!--<img src="../images/icon.png" alt="Icon">-->
                    <img src="../images/thumbnails/<%= files[file].teamid %>.jpg" alt="Icon">
                </a>
        <% } %>
    </ul>
</div>